.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.416);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rContainer {
    position: relative;
    background-color: white;
    padding: 20px;
}

.rClose {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
}

.rItem {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.rInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rTitle {
    font-weight: 500;
  }
  
  .rDesc {
    font-weight: 300;
    color: gray;
  }
  
  .rMAx {
    font-size: 12px;
    color: gray;
  }
  
  .rPrice {
    font-weight: 500;
  }

  .selectRooms {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 10px;
    color: gray;
  }

  .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  }

  .room{
    display: flex;
    flex-direction: column;
  }