.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footerContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fLists {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}